.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

div.container.content{
    height: 100vh;
    padding-bottom: 150px;
}
.footer{
    margin-top:150px;
    z-index:999999;
}

@media (max-width: 991px){
    .order-history{
        padding-top:50px;
    }
}