html {
height: 100%;
}

body {
background: url('/media/cover.png') no-repeat center center fixed;
background-size: cover;
height: calc(100vh - 164px);
color: #555;
font-family: 'Montserrat';
background: #f0f0f3;
/* margin-top:100px; */

}

.small:nth-child(1) > a:nth-child(1){
background: #f0f0f3;
box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
border-radius: 8px!important;
border: 1px solid rgba(216, 213, 213, 0.144);
color:#6c757d;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
}

/* from Bulma */
.icon {
align-items: center;
display: inline-flex;
justify-content: center;
height: 1.5rem;
width: 1.5rem;
}
#delivery-banner{
background: #f0f0f3;
box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.delivery{
color: rgb(187, 47, 187);

}
.logo-font {
text-transform: lowercase;
font-weight: 800;
}

.main-logo-link {
width: fit-content;
}

.shop-now-button {
background: #f0f0f3;
color: rgb(109, 106, 106);
min-width: 260px;
border-radius: 8px;
transition: background 0.5s;
box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

input.form-control.border.border-black.rounded-0, 
#sort-selector{
box-shadow: inset -3px -3px 7px #ffffff, 
inset 3px 3px 5px rgba(94, 121, 100, 0.288);
border: 1px solid #b6bbc528;
}

button.navbar-toggler,
button.form-control,
.btn-black,
.btn-outline-black  {
background: #f0f0f3;
color: rgb(109, 106, 106);
border-radius: 8px!important;
transition: background 0.5s;
box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

button.navbar-toggler{
border: 1px solid #b6bbc528;
}


.keep-shopping:active,
.keep-shopping:focus,
.btn-outline-black:active,
.btn-outline-black:focus {

color: rgb(177, 166, 166) !important;
border: 1px solid #b6bbc528;
box-shadow: inset -3px -3px 7px #ffffff, 
inset 3px 3px 5px rgba(94, 121, 100, 0.288)!important;

}


.shop-now-button:active,
.shop-now-button:focus,

.btn-black:active,
.btn-black:focus {

color: rgb(177, 166, 166) !important;
border: 1px solid #b6bbc509!important;
box-shadow: inset -3px -3px 7px #ffffff, 
inset 3px 3px 5px rgba(94, 121, 100, 0.288);
}

.text-black {
color: #555 !important;
}



.overlay { 
height: 100%;
width: 100%;
top: 0;
left: 0;
position: fixed;
background: #f0f0f3;
z-index: -1;
}

.contact-form{
    margin-top:100px;
}
.header-top{
background: #f0f0f3;
z-index: 99999;
}

.btt-button {
height: 42px;
width: 42px;
position: fixed;
bottom: 10px;
right: 10px;
}
.btt-link,
.update-link,
.remove-item {
cursor: pointer;
}

input[name='q']::placeholder {
color: #aab7c4;

}

/* bootstrap toasts */
.message-container{
position:fixed;
top: 72px;
right: 15px;
z-index: 999999999;

}

.custom-toast{
overflow: visible;

}

.toast-capper{
height:2px;
}


/* Allauth form formatting */



.allauth-form-inner-content p {
margin-top: 1.5rem; /* mt-4 */
color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
background: #f0f0f3;
box-shadow: inset -3px -3px 7px #ffffff, 
inset 3px 3px 5px rgba(94, 121, 100, 0.288);
border-radius: 8px;
border: 1px solid #b6bbc528;
}

.allauth-form-inner-content label:not([for='id_remember']) {
display: none;
}

.allauth-form-inner-content input::placeholder {
color: #aab7c4;
}


.btn.btn-outline-black.rounded-0,
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
font-weight: 400;
color: rgb(82, 80, 80);
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background: #f0f0f3;
box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
border-radius: 8px!important;
border: 1px solid rgba(216, 213, 213, 0.144);
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
}

.badge{
background: #f0f0f3;
box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
border-radius: 8px!important;
border: 1px solid rgba(216, 213, 213, 0.144);
padding: .375rem .75rem;
font-size: 1.3rem;
line-height: 1.5;
}

/* standard bootstrap btn transitions */
transition: color .15s ease-in-out,background-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: rgb(177, 166, 166) !important;
border-color: rgba(153, 152, 152, 0.041);
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}

/* Product form */

.btn-file {
position: relative;
overflow: hidden;
}

.btn-file input[type="file"] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
opacity: 0;
cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
border-radius: 8px;
border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
background-color: #dc3545;
border-color: #dc3545;
border-radius: 8px;
}





/*footer*/

.footer {

left: 0;
bottom: 0;
width: 100%;  
color: #272525;
font-weight: 14px;
padding: 0;
background-color: #f0f0f3;
z-index: 9999999999;
}

.footer p {
color: rgb(105, 105, 104);
}

.footer h3 {
color: white;
margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
min-width: 250px;
margin-bottom: 20px;
}
.footer-col-1 {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
background: #f0f0f3;
margin:0;
}

.copyright{
align-items: center;
justify-content: center;
text-align: center!important;
}



.icons {
display: flex;
margin: 40px 0;
}

.icons li {
position: relative;
list-style: none;
height: 70px;
width: 70px;
background: #f0f0f3;
margin: 0 10px;
border-radius: 50%;
cursor: pointer;
box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.icons li a {
line-height: 70px;
font-size: 27px;
color: #b6bbc5;
}

.first li.shadow-1 {
box-shadow: inset -3px -3px 7px #ffffff,
inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.first li.shadow-1 a {
font-size: 25px;
}

li:nth-child(1).fill-color a {
color: #4267b2;
}
li:nth-child(2).fill-color a {
color: #1da1f2;
}
li:nth-child(3).fill-color a {
color: #e1306c;
}
li:nth-child(4).fill-color a {
color: #2867b2;
}
li:nth-child(5).fill-color a {
color: #333;
}
li:nth-child(6).fill-color a {
color: rgb(9, 255, 0);
}

.footer-col-2 {
flex: 1;
text-align: center;
}

.footer-col-2 img {
width: 180px;
margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
flex-basis: 12%;
text-align: center;
}

ul {
list-style-type: none;
}

.app-logo {
margin-top: 20px;
}

.app-logo img {
width: 140px;
}



.copyright {
text-align: center;
}

.menu-icon {
width: 28px;
margin-left: 20px;
display: none;
}


/*--------product detail-------*/

.product-img,
.product-detail{
box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.288); 
transition: transform 0.5s;
}

.product-img:hover{
    transform: translateY(-12px);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
.container {
max-width: 80%;

}
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
.fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.header-container {
    padding-top: 164px;
}



.container-fluid.content{
    padding-top:50px;

}
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
.header-container {
    padding-top: 116px;
}
/* spacing nav items a bit*/
@media (max-width: 991px) {
.nav-item {
    margin-top:5px;
}
/* Delivery banner needs reduction */
@media (max-width: 429px) {
.delivery-text{
    font-size: 16px;
}
/* pushing content down a bit on smaller screens */
.container-fluid.content{
    padding-top:50px;

}



body {
    height: calc(100vh - 116px);
}

}

/* reducing padding on navbar icons on smaller screens */
@media (max-width: 500px){
a.nav-link{
    padding:0;
    font-size: smaller;
}
.icons li {
    height: 25px;
    width: 25px;
}
.icons li a {
    font-size: 16px;
    line-height: 25px;
}

}

/* hiding searchbar on smaller screens */
@media (max-width: 990px) {
.searchbar, .personal {
    display: none;
}

}
/* adding some breathing space to products, amending necessary margins to keep navbar intact on small screens*/

@media (min-width: 280px)and (max-width: 358px){

.navbar-expand-lg{
    padding-right:2px;
    padding-left:2px;

}
.footer{
    bottom:-20px;
}
.keep-shopping,
.btn-add{
    margin-top: 9px!important;
}
.edits{
margin-left:none!important;
}
}


/*perfecting responsiveness on smallest screens*/
@media (min-width: 280px)and (max-width: 320px){
.keep-shopping{
margin-top:15px!important;
}
.decrement-qty,
.increment-qty{
padding-left:6px;
padding-right:6px
}
.qty-input{
height:38px;
width:40px;
}
}



