{% extends "base.html" %} 
{% load static %} 
{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col-7 col-md-6"></div>
    </div>
</div>

{% endblock %} 
{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font site-name">Page does not exist!</h1>
            <h4 class="display-4 logo-font site-name">You've wandered off</h4>

            <div class="mx-auto my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Go back to Shop</a>
                </h4>
            </div>
        </div>

        {% include 'includes/featured.html' %}
    </div>
</div>
{% endblock %}
