{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay-404"></div>
    
    <div class="container-fluid content">
        <div class="row">
            <div class="col-12 offset-lg-2" style="height:100vh">
            
                <h1 class="display-4 logo-font site-name">page does not exist</h1>
                <h1 class="display-4 logo-font site-name">you've wandered off! </h1>

            <div class="mx-auto my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Return to shop</a>
                </h4>
            </div>
            
        </div>
    </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}

{% endblock %}