{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6" style="height:100vh">
            <hr>
            <h2 class="logo-font mb-4">Your form was sent</h2>
            <h5 class="text-muted">We will be in touch soon!</h5>
            <hr>
        </div>
    </div>


</div>
{% endblock %}